:root {
    --font: sans-serif;
    --primary-color: rgb(158, 27, 40);
    --secondary-color: rgb(110, 32, 32);
    --terciary-color: rgb(255, 255, 255);
    --primary-font-size: 25px;
    --secondary-font-size: 20px;
    --terciary-font-size: 15px;
}
